.order-container {
  width: 99.7%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  color: white;
  background-color: var(--C);
  position: relative;
}

.list-order {
  width: 60%;
}

.cards {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.confirme-div {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-order {
  width: 100%;
  height: 20vh;
  background-color: var(--E);
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.info-order {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-order div {
  padding: 2px 5px;
}

.confirme {
  padding: 5px 10px;
  background-color: var(--A);
  width: 100px;
  border-radius: var(--Radius);
  color: var(--E);
  transition: padding 0.5s ease;
  text-decoration: none;
}

.confirme:hover {
  cursor: pointer;
  padding: 7px 12px;
}

.image-order {
  width: 10rem;
  height: 10rem;
}

.action-button {
  /* border: 2px solid red; */
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.order-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.order-icon:hover {
  cursor: pointer;
  color: var(--A);
}

@media (max-width: 992px) {
  .list-order {
    width: 83%;
  }
  .image-order {
    width: 5rem;
    height: 6rem;
  }
  .info-order {
    width: 20%;
  flex-direction: column;
}

  .action-button {
    width: 20%;
  }
  }

