.loader {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--accent-color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position:fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
