.main-product {
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.image-product {
  width: 100%;
  height: 20vh;
  background-image: url("../../images/product-image.jpeg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-header {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nameCategory {
    font-weight: 900;
    font-size: 6rem;
    color: white;
    padding-bottom: 10px;
}

.category {
  padding: 10px 20px;
  background-color: var(--C);
  margin-right: 1rem;
  border-radius: 10px;
  color: white;
  margin-top: 2px;
}

.category:hover {
  cursor: pointer;
}

.section-paggination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 30px;
}
.paggination {
  min-width: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.paggination div {
    padding: 15px 20px;
    border: 2px solid var(--E);
    border-radius: 45%;
    background-color: var(--E);
    color: white;
    margin-left: 2px;
    font-weight: 700;
}

.paggination div:hover {
    cursor: pointer;
    background-color: var(--A);
    color: var(--E);
}

.next {
  margin-left: 2px;
  color: var(--E);
}

.next-button {
    width: 2rem;
    height: 2rem;
}

.next-button:hover {
    cursor: pointer;
    color: var(--A);
}

.category-element{
    text-decoration: none;
    color: white;
}

.section-subCategory {  
display: flex;
align-items: center;
/* flex-wrap: wrap; */
/* padding : 20px 0px; */
min-height: 5vh;
padding: 10px 10px;
}
.search-bar {
  width: 100%;
  height : 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--Radius);
  background-color: var(--E);
  padding: 0px 0px 0px 20px;
}

.search-input {
  width: 70%;
  height: 70%;
  border: none;
  background-color: var(--E);
  color: white;
}

.search-input:focus {
  outline: none;
}

.subCategories{
  width: 60%;
  min-height: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid red; */
}

.section-subCategory .subCategories h4 {
   padding: 10px 20px;
   background-color: var(--E);
   border: 2px solid var(--E);
   height: fit-content;
   border-radius: var(--Radius);
   color: white;
   margin-left: 40px
}

.section-subCategory h4:hover {
  cursor: pointer;
  background-color: var(--A);
  color: var(--E);
}

.search-bar-container {
  width: 30%;
  padding: 10px;
}

.div-search {
  width: 15%;
  height: 100%;
  background-color:var(--A) ;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-search:hover {
  cursor: pointer;
  background-color: rgb(244, 214, 94);
}

.search-icon {
  width: 60%;
  height: 6 0%;
}


@media(max-width : 992px){
.nameCategory {
    font-weight: 900;
    font-size: 70px;
    color: white;
}

.section-subCategory .subCategories h4 {
   margin-left: 2px;

}

.search-bar {
  width: 90%;
}
.search-bar-container {
  width: 100%;
  padding: 10px;
}
.subCategories {
  width: 100%;
  padding: 10px;
}

.section-subCategory {
  /* width: 100%; */
  padding: 10px 0px 10px 0px;
  flex-direction: column;

  padding-left: 10px;
}

}